html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    width: 100%;
    height: 100%;
}

@font-face {
  font-family: "njnaruto";
  src: url("fonts/njnaruto.ttf");
  font-size: medium;
  font-weight: bold;
}

#screen{
    background-color: white;
}